h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fabb9b;
  text-align: center;
}

h3 {
  background-color: #faccb5;
}
.recipes {
  font-size: 20px;
}

body {
  background-color: #f4f4f4;
  font-family: tahoma;
}

img {
  height: auto;
  width: 50vw;
}
